{% extends 'base.html' %}
{% block title %} Estadisticas-Asistente {% endblock %}
{% block content %}
<main>
    <div class="container">
        <div class="card my-4">
            <div class="card-body">
                <div class="row d-flex justify-content-center mb-3">
                    <div class="col-10 col-lg-6 mb-3">
                        <h2 class="text-center border-bottom">Estadisticas</h2>
                    </div>
                </div>
                <div class="row d-flex justify-content-around flex-wrap mb-3">
                    <div class="col-12 col-lg-5 mb-4 flex-column justify-content-center align-self-center">
                        <canvas id="myChart" class="w-100 h-75"></canvas>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <canvas id="myChart2" class="w-100 h-100"></canvas>
                    </div>
                </div>
                <div class="row d-flex flex-wrap justify-content-around mb-4">
                    <div class="col-12 col-lg-4 mb-3">
                        <label for="planta" class="form-label fw-bold">Filtrar por planta</label>
                        <select class="form-select" required id="planta" onchange="filtrarPlanta()" name="planta" aria-label="Planta">
                            <option value="" selected>Selecciona una planta...</option>
                            {% for planta in plantas %}
                            <option value="{{ planta.numero }}">Planta {{ planta.numero }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <div>
                            <label for="buscar-asistentes" class="form-label fw-bold">Filtrar por nombre</label>
                            <div class="input-group">
                                <input type="text" class="form-control" oninput="buscarAsistentes()" placeholder="Buscar" id="buscar-asistentes"
                                    aria-label="Search" aria-describedby="search-addon">
                                <span class="input-group-text">
                                    <i class="bi bi-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mb-3">
                    <div class="col-12">
                        <div class="table-responsive border border-1" style="max-height: 400px;min-height:400px; overflow-y: auto;">
                            <table class="table text-center table-hover">
                                <thead class="table-light" style="position:sticky; top: 0;">
                                    <tr>
                                        <th scope="col">NIF</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Planta</th>
                                        <th scope="col">Asistencias Atendidas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asistente in asistentes_asistencias %}
                                    <tr>
                                        <td>{{ asistente[0] }}</td>
                                        <td>{{ asistente[1] }}</td>
                                        <td>Planta {{ asistente[2] }}</td>
                                        <td>{{ asistente[3] }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-2 col-lg-4 d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link text-dark" href="#">Previous</a></li>
                              <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                              <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                              <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                              <li class="page-item"><a class="page-link text-dark" href="#">Next</a></li>
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/asistentes-estadisticas.js') }}"></script>
{% endblock %}