{% extends 'base.html' %}
{% block title %} Modificar-Asistente {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/asistentes-modificar.css') }}">
{% endblock %}
{% block content %}
<main>
    <div class="container">
        <div class="row d-flex justify-content-center mb-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <h4 class="text-center">Entidades</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-3 d-flex justify-content-center">
                                <div>
                                    <button type="button" id="btn-update" class="btn border-0 btn-edit-row">
                                        <i class="bi bi-pencil-square text-warning fs-1"></i>
                                    </button>
                                    <button type="button" id="btn-clear" class="btn border-0 btn-delete-row">
                                        <i class="bi bi-eraser fs-1"></i>
                                    </button>
                                    <button type="button" id="btn-delete" class="btn border-0 btn-delete-row">
                                        <i class="bi bi-trash text-danger fs-1"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3 d-flex justify-content-center">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <span class="lead">Entidades selecionadas: </span>
                                        <span class="lead fw-bold" id="n-items">0</span>
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 mb-3">
                                <div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Pesquisar" id="search-articles"
                                            aria-label="Search" aria-describedby="search-addon">
                                        <span class="input-group-text" id="user-icon">
                                            <i class="bi bi-search fs-5"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modalConfirm" tabindex="-1" aria-labelledby="modalConfirmLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="modalConfirmLabel">Janela de confirmação</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <span class="lead">
                                            Tem certeza de que deseja excluir os entidades selecionadas?
                                        </span>
                                        <br />
                                        <span class="lead">
                                            Esta ação não pode ser desfeita.
                                        </span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modalValidate" tabindex="-1" aria-labelledby="modalValidateLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="modalValidateLabel">Janela informativa</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <span class="lead">
                                            Não foi possível excluir, as seguintes entidades possuem documentos associados:
                                        </span>
                                        <ul #listInvalidIds class="list-group my-2"
                                            style="max-height: 150px; overflow-y: auto;">
    
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="btn-close-modal" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="table-responsive" style="max-height: 300px;min-height:300px; overflow-y: auto;">
                                    <table class="table text-center table-hover">
                                        <thead class="table-light" style="position:sticky; top: 0;">
                                            <tr>
                                                <th scope="col">Cod.Entidade</th>
                                                <th scope="col">Nome</th>
                                                <th scope="col">Nome Comercial</th>
                                                <th scope="col">Tipo</th>
                                                <th scope="col">Morada</th>
                                                <th scope="col">Localidade</th>
                                                <th scope="col">Código postal</th>
                                                <th scope="col">Cidade</th>
                                                <th scope="col">País</th>
                                                <th scope="col">Contribuinte</th>
                                            </tr>
                                        </thead>
                                        <tbody>
    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}