.barra-busqueda #busqueda{
    font-size: 1.5rem;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
}

.barra-busqueda button{
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.barra-busqueda button svg{
    cursor: pointer;
    padding: 0;
    height: 1.25rem;
    width: 2.5rem;
    margin: 0;
}

.barra-busqueda{
    display: flex;
}