section{
    height: 80%;
    width: 100%;
    background-color:#F8F5C1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.article-barra-busqueda{
    display: flex;
    grid-column-start: 3;
    grid-column-end: -1;    
    align-items: center;
    justify-content: center;
    flex:  auto;
    margin-top: 2.5rem;
}

.barra-busqueda input,button{
    border: 4px solid black;

}

.barra-busqueda #busqueda{
    font-size: 1rem;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
}

.barra-busqueda button{
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.barra-busqueda button svg{
    cursor: pointer;
    padding: 0;
    height: 1.25rem;
    width: 30px;
    margin: 0;
}

.article-categoria{
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 2rem;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
}
.article-categoria hr{
    width: 80%;
    height: 4px;
    background-color: black;
}

.article-juegos{
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.juego{
    width: 20rem;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.juego p{
    font-size: 1rem;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    text-decoration: none;
    color: black;
    
}

.article-juegos img{
    border-bottom: 2px solid black;    
    width:100%;
}