section{
    height: 80%;
    width: 100%;
    /* background-color:#F8F5C1; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("src/assets/fondoJungla.jpg");
    /* background-color: rgba(248, 245, 193);  */
    background-color: rgba(248, 245, 193, .6);
    background-attachment: fixed;
    background-blend-mode: overlay;
}


.article-titulo-novedad{
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 2rem;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
}

.article-titulo-novedad hr{
    width: 80%;
    height: 4px;
    background-color: black;
}

.article-novedad{    
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenedor-novedad{
    margin: auto;
    display: flex;
    background-color: #BADE57;
    width:50rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 4px solid black;
    margin-bottom: 3.12rem;
    margin-top: 2.5rem;
}
.container-imagen{
    background-color: white;
    width: 70%;
    min-height: 20rem;
    border: 4px solid black;
    margin-top: 2rem;
    display: flex;
    flex: auto;
}

#imagen-novedad{
    width: 100%;
}

.descripcion-novedad{
    text-align: center;
    font-size: 2rem;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
    width: 80%;
}

