<main>
    <section class="tittle">
        <h1>Mis Proyectos</h1>
    </section>
    <section class="stroke">
        <hr />
    </section>
    <section class="text-presentation">
        <p>A continuación, te presento algunos de los proyectos en los que he trabajado. Cada uno refleja mi experiencia y habilidades en diferentes tecnologías.</p>
    </section>
    <section class="projects-section">
        <article class="project-box">
            <div class="img-project">
                <img src="../../../assets/React-icon.svg.png" alt="">
            </div>
            <div class="text-info">
                <h3>Titulo proyecto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro laborum repellendus perferendis et! Delectus enim, necessitatibus magni hic dignissimos sit veritatis cum. Amet, culpa illum dolor ut eveniet ullam.</p>
                <div class="tecnologies-box">
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                </div>
                <a href="#">Ver proyecto</a>
            </div>
        </article>
        <article class="project-box">
            <div class="img-project">
                <img src="../../../assets/logo_flask.png" alt="">
            </div>
            <div class="text-info">
                <h3>Titulo proyecto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro laborum repellendus perferendis et! Delectus enim. necessitatibus magni hic dignissimos sit veritatis cum. Amet, culpa illum dolor ut eveniet ullam.</p>
                <div class="tecnologies-box">
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                </div>
                <a href="#">Ver proyecto</a>
            </div>
        </article>
        <article class="project-box">
            <div class="img-project">
                <img src="../../../assets/logo_python.svg" alt="">
            </div>
            <div class="text-info">
                <h3>Titulo proyecto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro laborum repellendus perferendis et! Delectus enim, necessitatibus magni hic dignissimos sit veritatis cum. Amet, culpa illum dolor ut eveniet ullam.</p>
                <div class="tecnologies-box">
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                </div>
                <a href="#">Ver proyecto</a>
            </div>
        </article>
        <article class="project-box">
            <div class="img-project">
                <img src="../../../assets/logo_kotlin_full.png" alt="">
            </div>
            <div class="text-info">
                <h3>Titulo proyecto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro laborum repellendus perferendis et! Delectus enim, necessitatibus magni hic dignissimos sit veritatis cum. Amet, culpa illum dolor ut eveniet ullam.</p>
                <div class="tecnologies-box">
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                </div>
                <a href="#">Ver proyecto</a>
            </div>
        </article>
        <article class="project-box">
            <div class="img-project">
                <img src="../../../assets/logo_mysql.svg" alt="">
            </div>
            <div class="text-info">
                <h3>Titulo proyecto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro laborum repellendus perferendis et! Delectus enim, necessitatibus magni hic dignissimos sit veritatis cum. Amet, culpa illum dolor ut eveniet ullam.</p>
                <div class="tecnologies-box">
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                </div>
                <a href="#">Ver proyecto</a>
            </div>
        </article>
        <article class="project-box">
            <div class="img-project">
                <img src="../../../assets/logo_django.png" alt="">
            </div>
            <div class="text-info">
                <h3>Titulo proyecto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro laborum repellendus perferendis et! Delectus enim, necessitatibus magni hic dignissimos sit veritatis cum. Amet, culpa illum dolor ut eveniet ullam.</p>
                <div class="tecnologies-box">
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                    <div class="tecnologie-content">
                        <p>Tecnologia</p>
                    </div>
                </div>
                <a href="#">Ver proyecto</a>
            </div>
        </article>
    </section>
</main>