*{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

body > header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding-top: 10px;
    background-color: white;
    width: 100%;
}

header a .icon-user{
    margin-right: 2rem;
}
header a .icon-user:hover{
    opacity: .60;
}
.sidebar .sidebar-header .header-logo img{
    width: 160px;
    height: 60px;
}

body{
    min-height: 100vh;
    background:linear-gradient(#F1FAFF,#CBE4FF);
    display: flex;
}

.sidebar{
    background-color: #2C3A47;
    width: 270px;
    overflow: hidden;
    background-color: #151A2D;
    height: 100vh;
    transition: 0.4s ease;
}


.sidebar.collapsed{
    width: 85px;
}

.sidebar-header{
    display: flex;
    align-items: center;
    padding: 25px 20px;
    justify-content: space-between;
}

/* Boton */
.toggler{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.toggler svg{
    width: 48px;
    height: 48px;
    margin-left: 1rem;
}

/* --------- */

.sidebar-nav .nav-list{
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
}

.sidebar-nav .nav-link{
    display: flex;
    gap: 12px;
    align-items: center;
    padding:12px 15px;
    transition: 0.4s ease;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
}

.sidebar-nav .nav-link:hover{
    background-color: white;
    color:#151A2D;
}
.sidebar-nav .nav-link .nav-label{
    transition:opacity 0.4s ease;
}

.sidebar-nav .nav-list .nav-item-title span{
    transition:opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label{
    opacity: 0;
    pointer-events: none;
}

.sidebar.collapsed .sidebar-nav .nav-item-title span{
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .nav-link,.nav-item-title{
    text-decoration: none;
    color: white;
}
.sidebar-nav .nav-item-title{
    font-size: 20px;
    font-weight:300;
}

@media screen and (max-width:239px) {
    .sidebar .sidebar-header .header-logo img{
        width: 150px;
    }
    .sidebar-nav .nav-link{
        font-size: 16px;
    }
}