<main>
    <section class="section-attributes">
        <article class="container-attribute">
            <img src="../../../assets/phone-rounded-svgrepo-com.svg" alt="">
            <div class="text-attribute">
                <h2>Telefono</h2>
                <p>+123456789</p>
            </div>
        </article>
        <article class="container-attribute">
            <img src="../../../assets/email-1572-svgrepo-com.svg" alt="">
            <div class="text-attribute">
                <h2>Email</h2>
                <p>pruebacorreo.com</p>
            </div>
        </article>
        <article class="container-attribute">
            <img src="../../../assets/time-svgrepo-com.svg" alt="">
            <div class="text-attribute">
                <h2>Horario</h2>
                <p>9:00 - 18:00</p>
            </div>
        </article>
    </section>
    <section class="section-form">
        <article class="contact-form">
            <div class="child-form">
                <div class="child-content">
                    <h2>¿Tienes en mente algún proyecto?</h2>
                    <p class="text-content">Transformo tus ideas en realidad. Con experiencia y pasión, te ofrezco soluciones personalizadas para que tu proyecto sea un éxito. ¡Contáctame y empecemos a construir juntos!</p>
                    <hr />
                    <div class="child-image">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
            <div class="child-form">
                <div class="child-content">
                    <form action="#" method="post">
                        <input type="text" placeholder="Nombre completo...">
                        <input type="text" placeholder="Correo electronico...">
                        <select name="type" id="">
                            <option value="" class="selected" selected>Seleccione tipo de aplicacion...</option>
                        </select>
                        <select name="entity" id="">
                            <option value="" selected>Seleccione una entidad...</option>
                        </select>
                        <select name="objective" id="">
                            <option value="" selected>Seleccione un objetivo...</option>
                        </select>
                        <textarea name="description" id="description" 
                        placeholder="Descripcion del proyecto..."></textarea>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </article>
    </section>
</main>