<main>
    <section class="section-attributes">
        <article class="container-attribute">
            <div class="img-attribute">
                <img src="" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro laborum repellendus perferendis et! Delectus enim, necessitatibus magni hic dignissimos sit veritatis cum. Amet, culpa illum dolor ut eveniet ullam.</p>
        </article>
        <article class="container-attribute">
            <div class="img-attribute">
                <img src="" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro laborum repellendus perferendis et! Delectus enim, necessitatibus magni hic dignissimos sit veritatis cum. Amet, culpa illum dolor ut eveniet ullam.</p>

        </article>
        <article class="container-attribute">
            <div class="img-attribute">
                <img src="" alt="">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro laborum repellendus perferendis et! Delectus enim, necessitatibus magni hic dignissimos sit veritatis cum. Amet, culpa illum dolor ut eveniet ullam.</p>
        </article>
    </section>
    <section class="section-form">
        <article class="contact-form">
            <div class="child-form">
                <div class="child-content">
                    <h2>¿Tienes en mente algún proyecto?</h2>
                    <p class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    <hr />
                    <div class="child-image">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
            <div class="child-form">
                <div class="child-content">
                    <form action="#" method="post">
                        <input type="text" placeholder="Nombre completo...">
                        <input type="text" placeholder="Correo electronico...">
                        <select name="type" id="">
                            <option value="" class="selected" selected>Seleccione tipo de aplicacion...</option>
                        </select>
                        <select name="entity" id="">
                            <option value="" selected>Seleccione una entidad...</option>
                        </select>
                        <select name="objective" id="">
                            <option value="" selected>Seleccione un objetivo...</option>
                        </select>
                        <!-- <input type="text" placeholder="Seleccione tipo de aplicacion...">
                        <input type="text" placeholder="Seleccione una entidad...">
                        <input type="text" placeholder="Seleccione un objetivo..."> -->
                        <textarea name="description" id="description" 
                        placeholder="Descripcion del proyecto..."></textarea>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </article>
    </section>
</main>