.article-titulo-registro{
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    font-size: 2rem;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
}
.article-titulo-registro hr{
    width: 80%;
    height: 4px;
    background-color: black;
}

.article-panel-registro{    
    grid-column-start: 1;
    grid-column-end: -1;
}

.panel-registro{
    margin: auto;
    display: flex;
    background-color: #BADE57;
    width: 35rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 4px solid black;
    margin-bottom: 3.12rem;
    margin-top: 2.5rem;
}

#avatar{
    border-radius: 50%;
    background-repeat: no-repeat;
    margin-top: 2rem;
    object-fit: cover;
    margin-bottom: 1.5rem;
    width: 9.37rem;
    height: 9.37rem;
    
}

#img-avatar{
    width: 9.37rem;
    height: 9.37rem;
    border-radius: 50%;
    border:4px solid black;
}

.panel-registro input{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.icono-avatar{
    width: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 255, 139);
    border:4px solid black;
    border-radius: 40px;
}

#lista-avatares{
    width: 70%;
}

#lista-avatares{
    display: flex;
    padding: 0;
    border-top: 4px solid black;
    width: 100%;
    height: 13rem;
    list-style: none;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.avatares-seleccionar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 4px solid black;
}

.avatares-seleccionar:hover{
    opacity: .80;
    cursor: pointer;
}

.carga{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#serpiente-carga{
    height: 2rem;
    width: 7rem;
    position: relative;
    right: 60px;
    transform: rotate(180deg);
    animation-name: mover3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes mover3{
    0% {right:100px;}
    25% {right:50px;}
    50% {right:0px;}
    75% {right:-50px;}
    100% {right:-100px;}
}

#texto-carga{
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Cherry Bomb One", system-ui;
    font-weight: 400;
}
