.boton-clear{
    height: 80px;
    font-size: 1.6rem;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    user-select: none;
}

.boton-back{
    height: 80px;
    font-size: 1.6rem;
    display: flex;
    flex: 1;
    background-color: #ac0246;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    user-select: none;
}

.boton-clear:hover,.boton-back:hover{
    background-color: #ebb000;
}