{% extends 'core/base.html' %}

{% load static %} 
{% block title%} Contestado {% endblock %} 
{% block content %}

<div class="row">
    <div class="row py-3">
      <div class="col-12">
        <div class="border-bottom">
          <h1 class="text-center">{{cuestionario.nombre_cuestionario}}</h1>
        </div>
      </div>
    </div>
    <form action="#" method="post">
        {% csrf_token %}
        {% for pregunta in preguntas %}
            {% if pregunta.acierto %}
            <div class="row d-flex justify-content-center">
                <div class="col-10 rounded border border-dark" style="background: #f2f2f2; margin:10px 0; padding: 40px;">
                    <h2>-{{pregunta.pregunta.pregunta}}</h2>
                    {% for respuesta in pregunta.respuestas %}
                        <div class="form-check">
                            {% if pregunta.respuesta_correcta.id == respuesta.id %}
                                <input class="form-check-input" type="radio" name="{{pregunta.pregunta.id}}" style="pointer-events: none;opacity: 1;" value="{{respuesta.id}}" id="{{respuesta.id}}" checked required disabled>
                            {% else %}
                                 {% if pregunta.respuesta_usuario.id == respuesta.id %}
                                    <input class="form-check-input" type="radio" name="{{pregunta.pregunta.id}}" style="pointer-events: none;opacity: 1;"  value="{{respuesta.id}}" id="{{respuesta.id}}" checked required disabled>
                                 {% else %}
                                    <input class="form-check-input" type="radio" name="{{pregunta.pregunta.id}}" style="pointer-events: none;opacity: 1;"  value="{{respuesta.id}}" id="{{respuesta.id}}" required disabled>
                                 {% endif %}
                            {% endif %}
                            <label class="form-check-label fs-5" style="opacity: 1;color: #000; cursor: default;" for="{{respuesta.id}}">
                                {{respuesta.respuesta}}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="row d-flex justify-content-center">
                <div class="col-10 rounded border border-dark" style="background: #f2f2f2; margin:10px 0; padding: 40px;">
                    <h2>-{{pregunta.pregunta.pregunta}}</h2>
                    {% for respuesta in pregunta.respuestas %}
                        <div class="form-check">
                            {% if pregunta.respuesta_usuario.id == respuesta.id %}
                                <input class="form-check-input" type="radio" style="pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required checked disabled>
                            {% else %}
                                {% if respuesta.correcta %}
                                <input class="form-check-input" type="radio" style=" background-color: rgb(108, 233, 108); pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required disabled>
                                {% else %}
                                <input class="form-check-input" type="radio" style="pointer-events: none;opacity: 1;"  name="{{pregunta.pregunta.id}}" value="{{respuesta.id}}" id="{{respuesta.id}}" required disabled>
                                {% endif %}
                            {% endif %}
                            {% if respuesta.correcta %}
                                <label class="form-check-label fs-5" style="background-color: rgb(108, 233, 108); opacity: 1;color: #000; cursor: default;" for="{{respuesta.id}}">
                                    {{respuesta.respuesta}}
                                </label>
                            {% else %}
                                <label class="form-check-label fs-5" style="opacity: 1;color: #000; cursor: default;" for="{{respuesta.id}}">
                                    {{respuesta.respuesta}}
                                </label>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <div class="row my-4">
            <div class="col d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg mx-2">Enviar</button>
                <a href="/cuestionarios/" class="btn btn-danger btn-lg mx-2">Cancelar</a>
            </div>
        </div>
        
    </form>
</div>
{% endblock %} 
