<main>
    <section class="banner">
        <p class="title-info">¿BUSCAS SOLUCIONES INFORMATICAS?</p>
        <p class="text-info">¡Hola! Soy José Bueno, especialista en desarrollo web y aplicaciones multiplataforma.</p>
        <p class="text-info">¡Bienvenido a mi portafolio!</p>

            <input type="button" id="contact-button" value="¡Contactame!">

    </section>
    <section class="info"></section>
    <section class="section-attributes">
        <!-- <img src="../../../assets/camaleon.svg" alt="camaleon" #camaleon class="camaleon" id="camaleon">
          -->
        <object width="128" height="64" data="../../../assets/camaleon.svg" type="image/svg+xml" #camaleon id="camaleon">

        </object>
    </section>
    <section class="info-1"></section>
    <section class="info-2"></section>
    <section class="info-3"></section>
    <section class="section-form"></section>
</main>