<main>
  <section class="banner">
    <p class="title-info">¿BUSCAS SOLUCIONES INFORMATICAS?</p>
    <p class="text-info">
      ¡Hola! Soy José Bueno, especialista en desarrollo web y aplicaciones
      multiplataforma.
    </p>
    <p class="text-info">¡Bienvenido a mi portafolio!</p>

    <input type="button" id="contact-button" value="¡Contactame!" />
  </section>
  <section class="info">
    <div class="banner-info">
      <img src="" alt="" />
      <div class="container-text">
        <div class="text-bio">
          <h3>Un paseo sobre mi</h3>
          <p>
            Lorem ipsum dolor sit amet. Est cupiditate galisum qui perspiciatis
            dolores sed consectetur incidunt. Id laborum error in eius dolorem
            qui excepturi reiciendis aut blanditiis molestiae sit molestiae
            ullam?
          </p>
        </div>
        <div class="text-skills">
          <h3>Habilidades tecnicas</h3>
          <div class="icons-language">
              <img src="" alt="" />
              <img src="" alt="" />
              <img src="" alt="" />
              <img src="" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-attributes">
    <!-- <img src="../../../assets/camaleon.svg" alt="camaleon" #camaleon class="camaleon" id="camaleon">
          -->
    <div class="content-attributes">
        <h2>¿Que me hace diferente?</h2>
        <div class="childs-attributtes">
            <div class="child-attribute">
                <img src="../../../assets/all-in-one.svg" alt="">
                <h4>Todo en uno</h4>
                <p>Lorem ipsum dolor sit amet. Est cupiditate galisum qui perspiciatis dolores sed consectetur incidunt.</p>
            </div>
            <div class="child-attribute container-adaptable">
                <object
                width="128"
                height="64"
                data="../../../assets/camaleon.svg"
                type="image/svg+xml"
                #camaleon
                id="camaleon"
                ></object>
                <h4>Adaptabilidad</h4>
                <p>Lorem ipsum dolor sit amet. Est cupiditate galisum qui perspiciatis dolores sed consectetur incidunt.</p>
            </div>
            <div class="child-attribute">
                <img src="../../../assets/check.svg" alt="" height="60px">
                <h4>Calidad garantizada</h4>
                <p>Lorem ipsum dolor sit amet. Est cupiditate galisum qui perspiciatis dolores sed consectetur incidunt.</p>
            </div>
        </div>
    </div>
  </section>
  <section class="info-boxes">
    <div class="content-boxes">
        <div class="info-box">
            <h3>Desarrollador Web</h3>
            <p>Lorem ipsum dolor sit amet. Est cupiditate galisum qui perspiciatis dolores sed consectetur incidunt.</p>
        </div>
        <div class="info-box">
            <h3>Desarrollador de aplicaciones multiplataforma</h3>
            <p>Lorem ipsum dolor sit amet. Est cupiditate galisum qui perspiciatis dolores sed consectetur incidunt.</p>
        </div>
        <div class="info-box">
            <h3>Desarrollador de ERP</h3>
            <p>Lorem ipsum dolor sit amet. Est cupiditate galisum qui perspiciatis dolores sed consectetur incidunt.</p>
        </div>
        <div class="info-box">
            <h3>¿Qué quieres desarrollar?</h3>
            <form action="#" method="post">
                <select name="" id=""></select>
                <select name="" id=""></select>
                <select name="" id=""></select>
                <input type="submit" value="¡Contratame!">
            </form>
        </div>
    </div>
  </section>
  <section class="section-form"></section>
</main>
