.banner {
    height: 30rem;
    background-color: #02061F;
    border-bottom: 2px solid white;
    border-top: 1px solid white;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.banner .banner-animated{
    display: grid;
    grid-template: repeat(30,1fr) / repeat(30,1fr);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.banner .title-info{
    font-family: "Lato";
    font-style: normal;
    font-size: 34px;
    margin-bottom: 0;
    color: white;
    z-index: 3;
}

.banner .title-info,.text-info{
    margin-left: 2rem;
    z-index: 3;
}

.banner .text-info{
    font-family: "Lato";
    font-style: normal;
    font-size: 28px;
    width: 45%;
    color: white;
}

.banner .text-info:nth-of-type(2){
    margin-bottom: 0;
    width: 100%;
}

.banner .text-info:nth-of-type(3){
    margin-top: 2rem;
    width: 80%;
}


#contact-button{
    width: 15rem;
    height: 3.56rem;
    background-color: rgb(103, 125, 183,0.40);
    border-radius: 10px;
    color: white;
    font-family: "Lato";
    font-weight: bold;
    font-size: 24px;
    margin-left: 2rem;
    margin-bottom: 3rem;
    z-index: 3;
}

#contact-button:hover{
    background-color: rgb(103, 125, 183,0.70);
    color: rgb(255, 255, 255,0.70);
    cursor: pointer;
}

.info{
    display: flex;
    font-family: "Lato";
    justify-content: center;
    align-items: center;
    font-style: normal;
    color: white;
}


.info .banner-info{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.banner-info > img{
    width: 30%;
    height: 234px;
    background-color: gray;
}

.container-text{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 1rem;
}

.container-text .text-skills{
    width: 100%;
}
.container-text .text-skills .icons-language{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}
.container-text .text-skills .icons-language > img{
    width: 50px;
    height: 50px;
    margin-right: 1.5rem;
    background-color: gray;
    display: flex;
}

.section-attributes{
    font-family: "Lato";
    font-style: normal;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 3rem;
}
.content-attributes > h2{
    text-align: center;
}
.content-attributes{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 70%;
}
.content-attributes .childs-attributtes{
    display: flex;
}
.content-attributes .childs-attributtes .child-attribute{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
}

.info-boxes{
    color: white;
    font-family: "Lato";
    font-style: normal;
    margin-bottom: 5rem;
}

.info-boxes .content-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.info-boxes .content-boxes .info-box{
    width: 50%;
    height: 273px;
    background-color: #6275A8;
    border-radius: 60px;
    border: 3px solid rgb(255, 255, 255, .60);
    box-shadow: 10px 10px 10px 5px rgb(103, 125, 183, .40);
    margin-top: 5rem;
    position:relative;
    right: 100%;
}

/* .info-boxes .content-boxes .info-box:not(:last-child) .animate-box{

}

@keyframes move-right-to-left {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}  */

.info-boxes .content-boxes .info-box > h3{
    text-align: center;
    text-decoration: underline 2px;
}

.info-boxes .content-boxes .info-box > p{
    text-align: center;
    width: 80%;
    margin: auto;
}

.info-box-form{
    width: 50%;
    background-color:  #6275A8;
    border-radius: 60px;
    border: 3px solid rgb(255, 255, 255, .60);
    box-shadow: 10px 10px 10px 5px rgb(103, 125, 183, .40);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 100%;
}

#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contact-form select{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

#contact-form select{
    color: white; 
    font-family: "Lato";
    padding: 0.5rem;  
    appearance: none;
    width: 60%;
    height: 3rem;
    background-color: #435397;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    background-image: url('../../../assets/caret-down.svg');
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 20px; 
    padding-right: 30px;
}
#contact-form select option{
    background-color: #435397;
    color: white; 
    font-family: "Lato";
    font-size: 16px; 
    font-weight: bold;
    padding: 0.5rem; 
    border-radius: 10px; 
}

#contact-form select:hover{
    background-color: rgb(103, 125, 183,0.70);
    color: rgb(255, 255, 255,0.70);
    cursor: pointer;
}

#contact-form select:focus{
    outline: none;
    border: 2px solid #3C62C4;
    background-color: #3C62C4;
    color: white;
}

#contact-form input{
    width: 10rem;
    height: 4rem;
    background-color: #3C62C4;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255,.60);
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    color: white;
    font-family: "Lato";
}

#contact-form input:hover{
    cursor:pointer;
    background-color: blue;
    border: 3px solid rgb(255, 255, 255,.80);
}


@media screen and (max-width: 1000px) {
    .banner-info {
        flex-direction: column;
    }
    .banner-info > img {
        width: 60%;
    }
    .container-text {
        width: 60%;
    }

    .container-text .text-skills .icons-language > img {
        margin-bottom: 1rem;
        justify-content: center;
    }
    .content-attributes {
        width: 100%;
    }
    .content-attributes .childs-attributtes {
        flex-direction: column;
        margin-top: 1.5rem;
    }
    .content-attributes .childs-attributtes .child-attribute p {
        width: 50%;
    }

    .info-box-form {
        width: 80%;
    }
    .info-boxes .content-boxes .info-box:not(:last-child) {
        width: 80%;
    }
    .banner .text-info {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .container-text {
        width: 80%;
    }

    #contact-form select{
        width: 80%;
    }
    
}